.choresText {
   color: blue;
   font-size: large;
   font-family: "Papyrus", fantasy;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: blueviolet;
   font-size: larger;
   font-family: "Papyrus", fantasy;
   text-decoration: underline;
}